<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1632754415/logoCC_dn0xcn.png" width="50px" height="50px" alt="logo">
    <a class="navbar-brand" href="#">App en Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" routerLink="inicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        <a class="nav-link" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
      </div>
    </div>
  </div>
</nav>